nav {
    background-color: #1A1A1D; 
    padding: 10px; 
    text-align: center; 
    margin-top: 0px;
    border-radius: 15px;
    box-shadow: 0 40px 100px rgba(255, 251, 0, 0.118);
    border-bottom: 3px solid #D4AF37;
    
}

nav a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
    margin: 0 30px; 
    font-size: 30px; 
    display: inline-block; 
    padding: 10px; 
    vertical-align: middle;
    
}

nav a img {
    width: 32px; 
    height: 32px;
    margin-right: 15px;
}

nav a:hover {
    transform: scale(1.1);
    color: #545454; 
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.search-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.search-border {
    display: flex;
    align-items: center;
    padding: 1px; 
}

.search-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 5px;
}

.search-input {
    width: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    border: none; 
    outline: none;
    font-size: 25px;
    background-color: transparent; 
    transition: width 0.4s ease, opacity 0.4s ease, visibility 0.4s;
}

.search-container:hover .search-input {
    width: 100px; 
    padding: 5px;
    opacity: 1;
    visibility: visible;
}

